.acordion {
    max-height: 300px;
    overflow: auto;
    overflow-y: scroll;
}

.perfect-scrollbar-example {
    position: relative;
    max-height: 300px;
}

//Acordion
.accordion .card .card-header {
    padding: 0px !important;
}

.card-header {
    padding: 0px !important;
}

//whitout controll on input type number
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}