<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-5 pr-md-0">
          <div class="auth-left-wrapper">

          </div>
        </div>
        <div class="col-md-7 pl-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="noble-ui-logo d-block mb-2">Clean<span>Zone</span></a>
            <h5 class="text-muted font-weight-normal mb-4">Bienvenido</h5>
            <form [formGroup]="loginFormGroup" class="forms-sample" autocomplete="off">
              <div class="form-group">
                <label for="exampleInputEmail1">Correo</label>
                <input formControlName="email" type="email" class="form-control" placeholder="Correo" >
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input formControlName="password" type="password" class="form-control" placeholder="Contraseña" >
              </div>
              <!--<div class="form-check form-check-flat form-check-primary">
               <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  <i class="input-frame"></i>
                  Recuerdame
                </label>
              </div>--> 
              <div class="mt-3 text-center">
                <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0" (click)="onLoggedin($event)">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
