<div class="row justify-content-center align-items-center">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Corte de caja</h6>
                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Departamento</label>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option selected disabled>Selecciona una categoria</option>
                                <option>Chofer</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Recurso</label>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option selected disabled>Selecciona una categoria</option>
                                <option>Pedrito Diaz Diaz</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" (click)="corte()" class="btn btn-primary mr-2">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 d-flex justify-content-center w-100" *ngIf="table">
    <div class="table-responsive w-100">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Corte de caja</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th class="text-right">Nota</th>
                            <th class="text-right">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-right">
                            <td class="text-left">12/12/2021</td>
                            <td class="text-left">08:48:34 am</td>
                            <td>8463</td>
                            <td>$55</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-6 ml-auto mt-3">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="text-bold-800">Total</td>
                                    <td class="text-bold-800 text-right"> $ 55</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>