<div class="row justify-content-center align-items-center text-center">
    <div class="col-md-12">
        <div class="card-body">
            <button (click)="openLgModal(lgModal)" type="button" style="margin-right: 3%;" class="btn btn-primary">Agregar</button>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xl-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Usuarios</h6>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th class="pt-0">#</th>
                                <th class="pt-0">Nombre</th>
                                <th class="pt-0">Usuario</th>
                                <th class="pt-0">Contraseña</th>
                                <th class="pt-0">Puesto</th>
                                <th class="pt-0">Telefono</th>
                                <th class="pt-0"> Opciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Juan Perez</td>
                                <td>16006</td>
                                <td>12345</td>
                                <td>Chofer</td>
                                <td>3921185464</td>
                                <td>
                                    <button (click)="openLgModal(lgModal)" type="button" style="margin-right: 3%;" class="btn btn-primary">Modificar</button>
                                    <button type="button" style="margin-right: 3%;" class="btn btn-danger">Eliminar</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal agregar cliente -->
<div class="modal-dialog modal-lg">
    <ng-template #lgModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar usuario</h5>
            <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
        </div>
        <div class="modal-body">

            <div class="card-body">
                <h6 class="card-title">Nuevo usuario</h6>
                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Nombre</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Nombre completo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Usuario</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Calle">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Contraseña</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Colonia">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputMobile" class="col-sm-3 col-form-label">Telefono</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="exampleInputMobile" placeholder="Telefono">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="exampleInputUsername1" class="col-sm-3 col-form-label">Puesto</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="carta">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option selected disabled>Selecciona una lista de precio</option>
                                        <option>Chofer</option>
                                        <option>Produccion</option>
                                        <option>Administrador</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="modal.close('by: save button')">Guardar</button>
        </div>
    </ng-template>
</div>