.btn-home:hover {
    background-color: #DAE1E9;
    cursor: pointer;
}

.BCentral {
    min-height: 3rem;
    max-width: 4.5rem;
    margin-right: 1%;
    margin-left: 1%;
}

.perfect-scrollbar-example {
    position: relative;
    max-height: 50vh;
}

//colocar scroll en Y