<div class="row justify-content-center align-items-center text-center">
    <div class="col-md-12">
        <div class="card-body">
            <button (click)="openModalPrendasAgregar(lgModalAgregarprenda)" type="button" style="margin-right: 3%;" class="btn btn-primary">Agregar</button>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 col-xl-8 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Prendas</h6>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th class="pt-0">#</th>
                                <th class="pt-0">Nombre</th>
                                <th class="pt-0">Categoria</th>
                                <th class="pt-0">Costo</th>
                                <th class="pt-0">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Abrigo</td>
                                <td>Tintoreria</td>
                                <td>200$</td>
                                <td>
                                    <button (click)="openModalPrendasAgregar(lgModalAgregarprenda)" type="button" style="margin-right: 3%;" class="btn btn-primary">Modificar</button>
                                    <button type="button" style="margin-right: 3%;" class="btn btn-danger">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-xl-4 grid-margin grid-margin-xl-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="" style="width: 18rem;">
                    <img class="card-img-top" src="http://grupomki.com/static/images/productos/producto-sin-imagen.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Nombre de prenda</h5>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- row -->

<!-- Modal agregar prenda -->
<div class="modal-dialog modal-lg">
    <ng-template #lgModalAgregarprenda let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar prenda</h5>
            <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
        </div>
        <div class="modal-body">

            <div class="card-body">
                <h6 class="card-title">Nueva prenda</h6>
                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Nombre</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Categoria</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="exampleFormControlSelect1">
                          <option selected disabled>Selecciona una categoria</option>
                          <option>Edredones</option>
                          <option>Ropa</option>
                          <option>...</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Costo</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Costo de servicio">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Imagen</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option selected disabled>...</option>
                              </select>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="modal.close('by: save button')">Guardar</button>
        </div>
    </ng-template>
</div>